.auth-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--color-nav-main);
  /* font-family: "Comfortaa", cursive; */
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: 50px;
}

.auth-wrapper form {
  width: 350px;
  margin: 0 auto;
}

.auth-wrapper h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.auth-wrapper .form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.auth-wrapper p {
  color: #bf1650;
}

.auth-wrapper p::before {
  display: inline;
  content: "\26A0";
}

.auth-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  font-size: 14px;
  background-color: var(--color-input-background);
  border: none;
  outline: none;
  color: var(--color-input-color);
  padding: 20px;
  font-weight: 200;
}

.auth-wrapper label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 15px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.auth-wrapper button[type="submit"],
.auth-wrapper input[type="submit"] {
  background: #ff3d84;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 6px;
  font-weight: 400;
  margin-bottom: 0;
  outline: none;
  cursor: pointer;
}

.auth-wrapper button[type="submit"]:hover,
.auth-wrapper input[type="submit"]:hover {
  background: #bf1650;
}

.auth-wrapper button[type="submit"]:active,
.auth-wrapper input[type="button"]:active,
.auth-wrapper input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.auth-wrapper input:disabled {
  opacity: 0.4;
}

.auth-wrapper input[type="button"]:hover {
  transition: 0.3s all;
}

.auth-wrapper button[type="submit"],
.auth-wrapper input[type="button"],
.auth-wrapper input[type="submit"] {
  -webkit-appearance: none;
}

.title {
  margin-bottom: 40px;
  color: white;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.logo {
  font-size: 72px;
  color: #f70;
  display: flex;
  flex-direction: column;
  align-items: center;
}
